/* ==== general ==== */

.container {
    max-width: 35em;
    margin: 0 auto;
    padding: 2em;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: aliceblue;
}

button {
    display: block;
    margin: 1em;
    background-color: transparent;
    font-size: 100%;
    padding: 0.5em;
    border: 0.1em solid black;
    text-transform: uppercase;
    cursor: pointer;
}

.center {
    text-align: center;
}

.active {
    font-weight: bold;
}

ul li {
    list-style-type: none;
    margin: 0.3em;
}

ul {
    padding: 0;
    margin: 0;
}

.avatar {
    width: 10em;
    padding: 1em;
    border-radius: 50%;
}

/* ==== login ==== */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    font-size: 100%;
    padding: 0.3em;
    background: transparent;
    border: 0.1em solid rgb(211, 211, 211);
}

/*==== home ====*/

.home {
    border: 0.1em solid rgb(228, 215, 215);
}

.home-header {
    display: flex;
    flex-direction: row;
    background: rgb(243, 243, 193);
}

.home-header button {
    font-size: 120%;
    flex-grow: 0.5;
    margin: 0;
    text-transform: capitalize;
}

/*=== question ====*/
.quest {
    background-color: rgb(243, 235, 235);
    margin: 1.5em 0;
}

.quest-header {
    background: rgb(192, 235, 235);
    border: 0.1em solid rgba(99, 96, 96, 0.2);
    padding-left: 1em;
    font-weight: bold;
    font-size: 100%;
}

.quest-body {
    display: flex;
    flex-direction: row;
    
}

.quest-details {
    padding: 1em;
    margin: 1em;
    border-left: 0.1em solid rgb(216, 216, 216);
}